body {
  --platinum: #d8e2dcff;
  --unbleached-silk: #ffe5d9ff;
  --mountbatten-pink: #9d8189ff;
}

.main-container {
  background-color: var(--platinum);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

main{
  width: 50%;
  background-color: white;
  border: var(--mountbatten-pink) 5px solid;
  border-radius: 25px;
  padding:50px 30px;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: 'Lobster';
  color: var(--mountbatten-pink);
  text-align: center;
}

.form{
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

input{
  margin: 0 10px;
}

form button {
  background-color: white;
  padding: 3px 5px;
  border: 1px solid var(--mountbatten-pink);
  border-radius: 5px;
  font-family: 'Roboto';
  color: var(--mountbatten-pink);
  height:100%;
}

ul{
  margin:20px 0 0 0;
  display:flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--unbleached-silk);
  border-radius: 15px;
  padding: 15px 0px;
  display: flex;
}

.todo{
  margin:0;
  padding:0;
  text-align: left;
  cursor: pointer;
  user-select: none;
}

.done {
  text-decoration: line-through;
}

li {
  color: var(--mountbatten-pink);
  margin: 5px;
  padding: 0px 20px;
  font-family: 'Raleway';
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li p:hover {
  text-shadow: 2px 2px 2px #bbb;
}

li p {
  width: 75%;
}

li button {
  background-color: var(--unbleached-silk);
  border: 1px solid var(--mountbatten-pink);
  border-radius: 5px;
  font-family: 'Roboto';
  color: var(--mountbatten-pink);
  height:100%;
}

/* .main-container {
  width: 50%;
  background-color: white;
  border: var(--mountbatten-pink) 5px solid;
  border-radius: 25px;
  padding:50px 30px;
  display:flex;
  justify-content: center;
  flex-direction: column;

  background-color: var(--platinum);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */